<div class="backplace">
    <video autoplay loop muted  class="backvideo">
        <source src="../assets/background/ai_generated_japanese_room_36627016.mp4" type="video/mp4">
    </video>    
</div>
<div class="mainplace">
    <!-- Navigation Links -->
    <nav>
      <ul>
          <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
          <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      </ul>
  </nav>

  <!-- Router Outlet to Display Components -->
  <router-outlet></router-outlet>
</div>